form#contactForm
  margin-top: 30px;

form div.submit-failure
  color: red;

form div.submit-success
  margin-top: 50px;
  margin-bottom: 200px;
  font-size: 16pt;

label.optional
  font-weight: normal;

.ng-invalid.ng-dirty
  border-color: red;

.ng-valid.ng-dirty
  border-color: green;
