doctype html
html(lang=de)
  head
    title Hello World Example
    meta( charset="utf-8" )
    meta( http-equiv="X-UA-Compatible", content="IE=edge" )
    meta( name="viewport", content="width=device-width, initial-scale=1" )
    block styles
      link( rel="stylesheet", href="http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" )
      link( rel="stylesheet", href="vendor/bootstrap/dist/css/bootstrap.min.css" )
      link( rel="stylesheet", href="css/main.css" )
  body
    block content
    block scripts
      if development
        script( src="//localhost:35729/livereload.js" )